html {
    font-size: 14px;
    background-color: #22223C;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}
.body {
    overflow: auto;
    padding: 10px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.lane-selection-container {
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 10px;
}

div.wins-by-teammates-container,
div.losses-by-enemies-container,
div.losses-by-teammates-container,
div.wins-by-enemies-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

div.wins-by-teammates-container caption,
div.losses-by-enemies-container caption,
div.wins-by-enemies-container caption,
div.losses-by-teammates-container caption {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    background-color: #f2f2f2;
    caption-side: top;
    text-align: center;
}

.progress-label {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: black;
    pointer-events: none;
}

th {
    font-weight: bold;
    text-align: left;
    background-color: #f2f2f2;
    padding: 10px;
}

td {
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

footer-container {
    background-color: white;
}

